body {
  background-color: white;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  max-width: fit-content;
  margin: auto;
}

header,
h1 {
  background-color: rgb(7, 126, 7);
  color: white;
  text-align: center;
  max-width: 720px;
  padding: 16px;
  border-right: 25%;
}
h2 {
  text-rendering: 20px;
  text-decoration: underline #2c0902;
  text-align: left;
  font-family:'Lucida Sans';
  font-style:normal;
  margin-bottom: 0.5rem;
  border-radius: 20%;
  
}

nav,
ul {
  color: green;
  text-align: start;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  margin-left: 10px;
}
footer {
  font-size: 16px;
  text-decoration: solid;
  max-width: fit-content;
  background-color: rgb(2, 28, 2);
  color: aliceblue;
  padding: 20px;
  border-radius: 25px;
}
header img {
  position: 100px;
  width: 25%;
  height: 100%;
  float: left;
  border: 1em;
  border-radius:20%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:left;
  font-size: 18px;
}




