body {
  background-color: #D3D3D3;
  color: #000080;
  font-family:'Arimo', sans-serif;
  text-align: center;
  max-width:100vw;
  height:100vh;
  margin: 0 auto;
}

header,
h1 {
  background-color: #FF4500;
  color: white;
  text-align: center;
  max-width: 720px;
  padding: 16px;
  border-right: 25%;
}
header img{
  width:150px;
  height:100px;
}
h2 {
  text-rendering: 20px;
  text-decoration: underline #D3D3D3;
  text-align: left;
  font-family:'Lucida Sans';
  font-style:normal;
  margin-bottom: 0.5rem;
  border-radius: 20%;
  
}

nav,
ul {
  color: #000080;
  text-align: start;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  margin-left: 10px;
}
footer {
  font-size: 16px;
  text-decoration: solid;
  max-width: fit-content;
  background-color: #000080;
  color: white;
  padding: 20px;
  border-radius: 25px;
}
header img {
  position: 100px;
  width: 25%;
  height: 100%;
  float: left;
  border: 1em;
  border-radius:20%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:left;
  font-size: 18px;
}




