*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}


body {
  max-width:justify;
  max-height:max-content;
}

header {
  padding: 7px;
  margin: 0;
  background-color: rgb(3, 88, 3);
  color: white;
  display: grid;
  text-align: center;
  text-shadow: #86ccb1;
  text-indent: 20px;
  width:justify;
  height:auto;

}

h1 {
  margin: 0;
  font-size: 1em;
  font-family: Helvetica, sans-serif;
  text-align: center;
}

h2,
h3,
h4 {
  background-color:orangered;
  background-size:50px;;
  color: white;
  font-family: Helvetica, sans-serif;
  text-align: center;
  
}
#currentDate{
  width: 40%;
  font-family: Helvetica, sans-serif;
  
}

 .logo img {
  border-radius: 50%;
  height: 100px;
  margin:0 0 0 2%;
}

#head {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.social {
  padding: 7px;
  margin-top: 4px;
  align-items: center;
  justify-content: center;
  display: flex;


}
.social img{
  width:50px;
  height:50px;
  margin: 2% 2% 2% 2%;
}

nav ul li a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
  color: #b8c7c1;
  border-top: #21332c;
  justify-content: flex-end;
}

nav ul li a:hover {
  background-color: orangered;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}

nav button {
  margin: 0.2rem 1vw;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: yellow;
  align-self: center;
  justify-self: center;
}

nav ul {
  display: none;
}

nav ul.open {
  display: block;
}


header #currentDate {
  margin: 0.5em;
  padding: 0.3em;
  background-color:rgba(12, 166, 226, 0.966);
  color: black solid;
  width:auto;
  overflow: hidden;


}

main {
  margin: 0;
}

main .hero {
  width: 96%;

}

main .hero #myphoto-hero img {
  width: 96%;
  margin: 2% 2% 2% 2%;

}

main .hero h3 {
  text-align: center;
  background-color: rgb(4, 117, 4);
  color: white;
}


main div {

  background-color: rgba(241, 235, 235, 0.952);
  padding-bottom: 7px;
  gap: 5px;
}

main .news h3 {
  text-align: center;
}

.spotlights {
  display: grid;
  padding-bottom: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  border: #21332c thin;
  border-radius: 10px;

}

.spotLight1,
.spotLight2,
.spotLight3 {

  padding: 1px;
  margin: 5px;
  padding-bottom: 1em;


}

main {
  width:justify;
  gap: 3%;
}

main .spotLight1 {
  text-align: center;
}

main .spotLight1 img {
  margin-top: 4px;
}

main.main-item {
  width: 400px;
}

#mainphoto {
  background-color:transparent;
  margin: 0;
  text-align: right;
  width:100%;
  height:100%;
  grid-column: 1/2;
  grid-row: 1/1;
}
.nesbitt{
grid-column: 3/-1;
grid-row: 1;
}
.spotLight3 {
  display: none;
}

.khami-ruins {
  width: 550px;
  height:400px

}

.khami-ruins img {
  width: 550px;
  height: 400px;
}

.join {
  text-align: center;
  font-family: 'Merriweather';
}

p {
  font-family: 'Merriweather', serif;
}

.event h3 {
  text-align: center;
}

main .weather {
  width: 95%;
  text-align: center;
  color: black;
  border-radius: 16px;
}

main .weather img {
  width: 100%;
  height: 150px;
  text-overflow: justify-content;
  font-family: 'Merriweather', serif;

}
.weatherWidget{
  border: #21332c line;
  border-radius: 5px;
}

.byo-airport {
  grid-column:1/-1;
  grid-row: 3/-1;

}
 picture.vicfalls{
  width: 50%;
  margin: 0 0 0 2%;

}
picture.vicfalls img{
  width: 96%;

}
 picture.vicfalls figcaption{
  text-align: center;
  font-size:16px;
  background-color:transparent;
  font-family: 'Arimo',sans-serif;
  color:blue;
}
picture.chipangali{
  width: 50%;
 margin: 0 0 0 2%;
}
picture.chipangali img{
  width: 96%;
  margin:auto;
}
picture.chipangali figcaption{
  text-align: center;
  font-size: 16px;
  background-color: transparent;
  font-family: 'Arimo', sans-serif;
}
picture.nesbitt{
  width:50%;
  margin: 0 0 0 2%;
}
picture.nesbitt img{
  width: 96%;
}
picture.nesbitt figcaption{
  text-align: center;
  font-size: 16px;
  background-color:transparent;
  font-family: 'Arimo', sans-serif;
  color:blue;
}
picture.khamiruins{
  width:50%;
  margin: 0  0 0 2%;
}
picture.khamiruins img{
  width: 96%;
}
picture.khamiruins figcaption{
  text-align: center;
  font-size:16px;
  background-color:transparent;
  font-family: 'Arimo', sans-serif;
  color:blue;
}
picture.largecityhall{
  width: 50%;
  margin: 0 0 0 2%;
  
}
picture.largecityhall img{
  width:96%;
}
picture.largecityhall figcaption{
  text-align: center;
  font-size: 16px;
  font-family: 'Arimo',sans-serif;
  color: blue;
}
.contact{
 color:black ;
 width: 60%;
 height:400px;
 align-items: center;
 margin:0;
}

footer {
  text-align: center;
  background-color: rgb(6, 82, 18);
  color: white;
  width:justify;


}

form field {
  margin: 2rem 0;
  border: 1px solid blue;
  border-radius: 10px;
  padding: .5rem 2%;

}

form legend {
  color: green;
  margin: 0 1rem;
  padding: 0 .5rem
}

form label.top,
form div {
  display: block;
  padding-top: 1rem;
  color: red;
  font-size: 1.5rem;


}

form label.top input,
form label.top select {
  display: block;
  font-size: 1rem;
  border: solid 1 px#999;
  border-radius: 4px;
  padding: .75rem;
  color: navy;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0 0 0 0.1);

}

form label.sbs {
  display: block;
  padding: .75rem;
  color: #555;
}

form input.submitBtn {
  border: none;
  background-color: red;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;

}

form label.top input:required {
  border-left: orangered solid 16px;

}

form label .top input:required:valid {
  border-left: blue;
}

form field {
  margin: 2rem 0;
  border: 1px solid blue;
  border-radius: 10px;
  padding: .5rem 2%;

}

form legend {
  color: green;
  margin: 0 1rem;
  padding: 0 .5rem
}

form label.top,
form div {
  display: block;
  padding-top: 1rem;
  color: red;
  font-size: .8rem;


}

form label.top input,
form label.top select {
  display: block;
  font-size: 1rem;
  border: solid 1 px#999;
  border-radius: 4px;
  padding: .75rem;
  color: navy;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0 0 0 0.1);

}

form label.sbs {
  display: block;
  padding: .75rem;
  color: #555;
}

form input.submitBtn {
  border: none;
  background-color: orangered;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
  font-family:'Arimo', sans-serif;
  font-size: medium;
  text-decoration: uppercase;

}

form label.top input:required {
  border-left: green solid 10px;

}

form label .top input:required:valid {
  border-left: blue;
}

.clearfix{
overflow: auto;
}



























































































































































































































































































































































































































































































































