@media only screen and(min-width:960px){
   nav ul li a {
       padding: .5rem 1rem;
   } 
}
.container {
    display: grid;
    grid-gap:7px;
    max-width:  100%;;
    height:100vh;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "events hero hero spotlight1 "
    "weather hero hero spotlight2"
    "join news-release news-release spotlight3"


}

#events{
    background-color: aquamarine;
    grid-area: events;
}
#weather{
    background-color: azure;
    grid-area: weather;
}
#join{
    background-color: greenyellow;
    grid-area: join;
}
#hero{
    background-color: aqua;
    grid-area: hero;

}
#news-release{
    background-color: blue;
    grid-area: news-release;
}
#spotlight1{
    background-color: blueviolet;
    grid-area: spotlight1;
}
#spotlight2{background-color:rgba(236, 216, 216, 0.1);
grid-area: spotlight2;}
#spotlight3{
    background-color: forestgreen;
    grid-area: spotlight3;   
}
