@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "hero"
      "news-release"
      "spotlight1 spotlight2"
      "join"
      "events weather";
  }

  nav button {
    display: none;
  }
  nav ul {
    display: flex;
    margin-left: 2vw;
  }
}
nav ul li a {
  border: none;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}
nav ul#primaryNav {
  display: flex;
  margin-left: 2vw;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 32.5em) {
  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;

    flex: 1 1 auto;
  }

  .navigation a {
    text-align: center;
  }

  .navigation li:first-child {
    display: none;
  }
}
#events {
  background-color: aquamarine;
  grid-area: events;
}
#weather {
  background-color: azure;
  grid-area: weather;
}
#join {
  background-color: greenyellow;
  grid-area: join;
}
#hero {
  background-color: aqua;
  grid-area: hero;
}
#news-release {
  background-color: blue;
  grid-area: news-release;
}
#spotlight1 {
  background-color: blueviolet;
  grid-area: spotlight1;
}
#spotlight2 {
  background-color: black;
  grid-area: spotlight2;
}
#spotlight3 {
  background-color: forestgreen;
  grid-area: spotlight3;
}