
*{margin: 0 auto;
padding:0;
text-align: center;
width:80%;
height:60%;
border:5px;
}
p{
    font-size: 1rem;
    font-family:cursive;
    color:green;
    color:orangered;
}
main{
    background:none;
    border-style: dotted;
}
h1,h2{
    background:white;
    color:navy;
    text-align: center;
    border: 1px ;
}